body {
    background: #0b0b0b;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    width: 350px;
    padding: 25px;
    background: #1a1a1a;
    border-radius: 15px;
    box-shadow: 0 0 15px #00eaff;
    margin: 40px;
}

input {
    width: 95%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

.strength-bar {
    width: 100%;
    height: 10px;
    background: #333;
    border-radius: 5px;
    margin: 15px 0;
}

#bar {
    height: 100%;
    width: 0%;
    background: red;
    border-radius: 5px;
    transition: 0.4s;
}

#strength-text {
    font-size: 18px;
    margin: 10px 0;
}

#feedback-list {
    font-size: 14px;
}
